 main {
  position: fixed;
  top: 0;
  left: 150px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: whitesmoke;

 }

 .innertube {
  margin: 15px;
 }

 .container {
  margin:  auto;
  padding-bottom: 50px;
  overflow: auto;
  background: white;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);

 }