body {
    background-color: whitesmoke;
}

main {
    right: 0;
    bottom: 0;
    overflow: auto;
    background: whitesmoke;
    margin-left: 150px;
    overflow-x: hidden;
    height: 100%;
}

.container {
    background: white;
    margin: 10px;
    width: 100%;
    -webkit-box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 1px -4px 49px 2px rgba(0, 0, 0, 0.47);
}

.innertube {
    background: white;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 10px;

}
.btnAdd{
    background: #64e0ef;
    color:white;
}

.glyphicon-remove{
    color:red;
}
.glyphicon-plus{
    color:blue;
}
#myBtn{
    margin-bottom: 10px;
}
fieldset{
    margin-top:10px;
    border:0.2px solid black;
    padding-top:20px;
    padding-left: 30px;
    margin-bottom: 10px;
}
#output{
    font-size: 14px;
    margin-top:10px;
    margin-bottom: 10px;
    
}