<app-main-menu></app-main-menu>

<main>
      <p-growl [(value)]="msgs"></p-growl>  
    <div class="innertube">
        <div class="container">

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Food Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of newArray " [class.selected]="item === itemSelected" (click)="onSelect(item)">
                        <td>{{item.foodType}}</td>
                        <td>{{item.priceItem}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td>
                            <div class="navbar-tool">
                                <button type="button" (click)="increaseQuantity()" class="btn btn-default btn-xs cursor ">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                                <button type="button" (click)="dicreaseQuantity()" class="btn btn-default btn-xs cursor ">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                                <button type="button" class="btn btn-default btn-xs" (click)="deleteItem()">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-info" id="myBtn" data-toggle="collapse" data-target="#address" [disabled]="trigger1">Add address</button>

            <fieldset class="collapse" id="address">
                <div class="form-group col-md-12">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="City" [(ngModel)]="address.city" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-sm-3 control-label">Street</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Street" [(ngModel)]="address.street" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="col-sm-3 control-label">Number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Number" [(ngModel)]="address.number" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
            </fieldset>
            <button class="btn btn-success" id="myBtn" data-toggle="collapse" data-target="#output" (click)="processOrder()" [disabled]="trigger2">Process order</button>
            <div  class="collapse" id="output"></div>
            <button class="btn btn-primary" id="myBtn" (click)="confirmOrder()" [disabled]="trigger3">Confirm order</button>
            <button class="btn btn-danger" id="myBtn" (click)="deleteOrder()">Delete order</button>
        </div>
    </div>
</main>
