nav{
    position: fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    width: 150px; /* Width of navigation frame */
    height: 100%;
    overflow: hidden; 
    background: #23232c;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 0px 20px rgba(0,0,0,0.05);
}
nav ul {
    list-style-type: none;
    margin: 7px;
    padding: 0;
}

nav ul a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;

}
nav ul li{
    margin-top: 20px;
    font-size: 14px;
}
        
* html body{
    padding: 0 0 0 150px; /* Set the last value to the width of the navigation frame */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}
.h3{
    color: whitesmoke;
    text-align:center;
}
.nume{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 16px;
}
