<main>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Confirm Password</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="model.password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="group">
            <label for="passConfirm" class="label">Confirm Password</label>
            <input id="passConfirm" type="password" class="input" data-type="password" [(ngModel)]="model.confirmPassword" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="group">
            <input type="submit" class="button" value="Save" (click)="confirm()" readonly>

          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a routerLink="/login" routerLinkActive="active">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>