<main id="myMain">
  <p-growl [(value)]="msgs"></p-growl>  
  <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In" (click)="login()" readonly>

                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a>
                      
                    </div>
                    <div class="foot-lnk" style="margin-top:10px;">
                          <a routerLink="/create-account" routerLinkActive="active">Create account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>