<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
     <p-growl [(value)]="msgs"></p-growl> 
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New item</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Food Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Food Type" [(ngModel)]="menuItem.foodType" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Price" [(ngModel)]="menuItem.price" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Image URL" [(ngModel)]="menuItem.image" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="menuItem.description" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Category</label>
                        <div class="col-sm-8">
                            <select class="form-control cursor" #p (change)="changeValue(p.value)">
                
                                  <option value="salad">Salad</option>
                                  <option value="pizza">Pizza</option>
                                  <option value="pasta">Pasta</option>
                                  <option value="drinks">Drinks</option>
                                  <option value="cocktails">Cocktails</option>
                                  
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
                <button type="button" class="btn btn-primary" (click)="saveItem()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
