<app-main-menu></app-main-menu>

<main class="innertube">
    <agm-map *ngIf="user.username !=='root@root'" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">
        <agm-marker *ngFor="let marker of arrayDestination" [latitude]="marker.lat" [longitude]="marker.lng" (mouseOver)="onMouseOver(infoWindow, gm)">


            <agm-info-window [disableAutoPan]="true" #infoWindow>

                <div>
                    {{marker.address}}

                </div>

            </agm-info-window>

        </agm-marker>
    </agm-map>

    <div *ngIf="user.username ==='root@root'" class="container">
        <table  class="table table-striped custab ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>City</th>
                    <th>Street
                    </th>
                    <th>Number</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of arrayRestaurants " [class.selected]="restaurant === restaurantSelected" (click)="onSelect(restaurant)">
                    <td>{{restaurant.id}}</td>
                    <td>{{restaurant.city}}</td>
                    <td>{{restaurant.street}}</td>
                    <td>{{restaurant.streetNumber}}</td>
                    <td>
                        <div class="navbar-tool">
                            <button type="button" class="btn btn-danger btn-xs cursor " (click)="delete(restaurant)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
