main{
    position: fixed;
    top: 0; 
    left: 150px;
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: whitesmoke;
    
}

.innertube{
    margin: 15px; /* Provides padding for the content */
}
.card-block {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);

}

.blue-section {
	background: #358cce;
	overflow: auto;
	padding: 20px;
}
	h1 {
		font-size: 32px;
		font-weight: 300;
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
	}

.container {
	margin: 0 auto;
	padding-bottom: 50px;
    overflow: auto;
    background: white;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-shadow: 1px -4px 49px 2px rgba(0,0,0,0.47);
	-moz-box-shadow: 1px -4px 49px 2px rgba(0,0,0,0.47);
	box-shadow: 1px -4px 49px 2px rgba(0,0,0,0.47);

}

.plans {
	list-style: none;
	margin: 0;

}
	.plan {
		background:url('../../../assets/image1234.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	
		border-radius: 6px;
		height: 60px;
		margin: 10px 0;
		opacity: 0.8;
		padding: 4px 25px;
		
		
    }
		.glyphicon-user2 {
			border-radius: 100%;
			cursor: default;
			display: block;
			float: left;
			height: 46px;
			line-height: 46px;
			margin: 8px 10px 0 0;
			text-align: center;
			width: 46px;
        }	
			.glyphicon-user2-green {
				background-color: #e1f1d1;
				color: #52b327;
			}
					
			.glyphicon-user2-red {
				background-color: #f1e1d1;
				color: #b35227;
			}
		
		
		.details {
			color: #222;
			display: block;
			float: left;
			height: 46px;
			margin: 8px 0;
			padding: 0px 10px;
        }
			.plan-title {
				font-size: 17px;
				font-weight: normal;
				margin: 2px 0 0;
				padding: 0;
				text-transform: uppercase;
			}
			
			.plan-description {
				color: #666;
				font-size: 14px;
				margin: 0;
				padding: 0;
			}
		
		
		.select {
			background: #358cce;
			border: none;
			border-radius: 4px;
			color: white;
			display: inline-block;
			float: right;
			font-size: 14px;
			margin: 15px 0px;
			padding: 7px 16px;

		
		}
		.select2 {
			background: #7a2c2e;
			border: none;
			border-radius: 4px;
			color: white;
			display: inline-block;
			float: right;
			font-size: 14px;
			margin: 15px 0px;
			padding: 7px 16px;
			margin-left: 3px;
		}
		
.name{
        margin-top: 0px;
        font-size: 12px;
}
.cursor{
	cursor: pointer;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }