<div class="modal fade" tabindex="-1" role="dialog" id="myModal3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Items</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped custab ">
                    <thead>
                        <tr>
                            <th>Nr. item</th>
                            <th>Food Type</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arrayMenuItems " [class.selected]="item === itemSelected">
                            <td>{{item.id}}</td>
                            <td>{{item.foodType}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <th>Total: {{total}}</th>
                    </tfoot>
                </table>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
