<main>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input id="user" type="text" class="input" [(ngModel)]="emailUser.email" [ngModelOptions]="{standalone: true}" onchange="try{setCustomValidity('')}catch(e){}">
          </div>
          <div class="group">
            <input type="submit" class="button" (click)="send()" value="Send">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a routerLink="/login" routerLinkActive="active">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>