<div class="modal fade" tabindex="-1" role="dialog" id="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New restaurant</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="City" [(ngModel)]="restaurant.city" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Street</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Street" [(ngModel)]="restaurant.street" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-sm-3 control-label">Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Street Number" [(ngModel)]="restaurant.streetNumber" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
                <button type="button" class="btn btn-primary" (click)="saveRestaurant()">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
